<h1>Edit Post</h1>

<form method="POST" action=<%= "/posts/#{@post.id}" %>>
  <input id="hidden" type="hidden" name="_method" value="patch">
  <p>
    <label for="name">Post Title: </label>
    <input type="text" name="post[name]" id="name" value="<%= @post.name %>">
  </p>
  <p>
    <label for="content">Post Content: </label>
    <textarea name="post[content]" id="content"><%= @post.content %></textarea>
  </p>
  <input type="submit" id="submit" value="Update">
</form>
