<h1>Here are all the posts</h1>

<form method="POST" action="/posts">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete All">
</form>
<p><a href="/posts/new">New Post</a></p>

<a href="/posts/1">
  <% Post.all.each do |post| %>
    <h3><%= post.name %></h3>
    <p><%= post.content %></p>
  <% end %>
</a>
