<h1>Here are all the posts</h1>

<p><a href="/posts/delete_all">Delete All</a></p>
<p><a href="/posts/new">New Post</a></p>

<% Post.all.each do |post| %>
  <h3><%= post.name %></h3>
  <p><%= post.content %></p>
<% end %>
