<h1><%= @post.name %></h1>

<form method="POST" action=<%= "/posts/${@post.id}/delete" %>>
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" id="submit">
</form>

<p><%= @post.content %></p>
<p><a href="/posts">Return to Index</a></p>
